button{
    background-color: lightblue;
    border-radius: 5px;
    padding: 5px;
}
body{
      background-color: whitesmoke;
      border-style: solid;
      text-align: center;
}
label{
    background-color: lightblue;
    border-radius: 5px;
    padding: 5px;
}